<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.js}"></script>


    <script src="http://cdn.jsdelivr.net/webjars/jquery/1.3.1/jquery.maskedinput.js" th:href="@{/webjars/jquery/1.3.1/jquery.maskedinput.js}" type="text/javascript"></script>


    <link href="../../static/css/gs.css"
          th:href="@{/css/gs.css}" rel="stylesheet" media="screen"/>

    <link href="../../static/css/flip.css"
          th:href="@{css/flip.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Główna</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/metryka}">Metryka</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>