.rtable {
    /*!
    // IE needs inline-block to position scrolling shadows otherwise use:
    // display: block;
    // max-width: min-content;
    */
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
}

.rtable,
.rtable--flip tbody {
    -webkit-overflow-scrolling: touch;
   background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
}

.rtable td:first-child,
.rtable--flip tbody tr:first-child {
   background-repeat: no-repeat;
    background-size: 20px 100%;
}

.rtable td:last-child,
.rtable--flip tbody tr:last-child {
   background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%;
}

.rtable th {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background: #292929;
}

.rtable th,
.rtable td {
    padding: 6px 12px;
    border: 1px solid #2f2f33;
}

.rtable--flip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background: none;
}

.rtable--flip thead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
}

.rtable--flip tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    background: #3c3c3c;
}

.rtable--flip tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
    display: block;
}

.rtable--flip td {
    background-image: none !important;
    border-left: 0;
}

.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
    border-bottom: 0;
}

/*!
// CodePen house keeping
*/
body {
    margin: 0;
    padding: 25px;
    color: #f4fdff;
    font-size: 18px;
    line-height: 20px;
}

h1, h2, h3 {
    margin: 0 0 10px 0;
    color: #1d97bf;
}

h1 {
    font-size: 25px;
    line-height: 30px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

table {
    margin-bottom: 30px;
}

a {
    color: #ff6680;
}

code {
    background: #858165;
    font-size: 12px;
}