<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Dodawanie metryki Wiek</title>
    <script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="../static/js/classie.js" th:src="@{/js/classie.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{~/home}">System ankietyzacji PRz</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div th:if="${session.User} != null" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Kontakt</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a th:href="@{usersQuestionaries} " class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Zalogowany jako : <span
                            th:text="${session.name} ?: Niezalogowany ">Niezalogowany</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{~/user/panel}">Panel użytkownika</a></li>
                        <li><a th:href="@{~/user/update}">Edytuj profil</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{~/userQuestionaries/add}">Stwórz ankietę</a></li>
                        <li><a th:href="@{~/userQuestionaries}">Pokaż ankiety</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{~/user/logout}">Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div th:if="${session.User} == null" class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{~/login}">Zaloguj</a>
                </li>
                <li>
                    <a th:href="@{~/register}">Zarejestruj</a>
                </li>
                <li>
                    <a href="#">Kontakt</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Niezalogowany</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- /.navbar-end -->
<div class="centered">
    <div class="container">
        <div class="col-lg-4 col-xs-12">
            <h1 class="text-center main-title">Dodaj metryke</h1>
        </div>
        <div class="content col-lg-8 col-sm-12">
        <div class="centered">
            <div class="btn-group">
                  <button class = "btn btn-primary btn-lg disabled" href = "#" type = "button">Tak</button>
                  <a class = "btn btn-primary btn-lg" href = "#" role = "button">Nie</a>
                  <a class = "btn btn-primary btn-lg" href="addMet.html" role = "button">Stwórz</a>
            </div>
        </div>
        </div>
    </div>
</div>
<footer class="footer-main">
    <div class="container">
        <p>&copy; Grupa L05 - EFDI II - PRz 2017</p>
    </div>
</footer>
<script>
    (function () {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function () {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled..
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }

            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
</script>
<script>
    function myFunction() {
        var x = document.getElementById('myDIV');
        x.style.display = 'block';
        var y = document.getElementById('b1');
        y.style.display = 'none';
    }
    function myFunction2() {
        var x = document.getElementById('myDIV2');
        x.style.display = 'block';
        var y = document.getElementById('b2');
        y.style.display = 'none';
    }
    function myFunction3() {
        var x = document.getElementById('myDIV3');
        x.style.display = 'block';
        var y = document.getElementById('b3');
        y.style.display = 'none';
    }
    function myFunction4() {
        var x = document.getElementById('myDIV4');
        x.style.display = 'block';
        var y = document.getElementById('b4');
        y.style.display = 'none';
    }
    function myFunction5() {
        var x = document.getElementById('myDIV5');
        x.style.display = 'block';
        var y = document.getElementById('b5');
        y.style.display = 'none';
    }
    function myFunction6() {
        var x = document.getElementById('myDIV6');
        x.style.display = 'block';
        var y = document.getElementById('b6');
        y.style.display = 'none';
    }
    function myFunction7() {
        var x = document.getElementById('myDIV7');
        x.style.display = 'block';
        var y = document.getElementById('b7');
        y.style.display = 'none';
    }
    function myFunction8() {
        var x = document.getElementById('myDIV8');
        x.style.display = 'block';
        var y = document.getElementById('b8');
        y.style.display = 'none';
    }
    function myFunction9() {
        var x = document.getElementById('myDIV9');
        x.style.display = 'block';
        var y = document.getElementById('b9');
        y.style.display = 'none';
    }
</script>
</body>
</html>