<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Dodawanie metryki Wiek</title>
    <script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="../static/js/classie.js" th:src="@{/js/classie.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link href="../../static/css/flip.css" th:href="@{css/flip.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{~/home}">System ankietyzacji PRz</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div th:if="${session.User} != null" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Kontakt</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a th:href="@{usersQuestionaries} " class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Zalogowany jako : <span
                            th:text="${session.name} ?: Niezalogowany ">Niezalogowany</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{~/user/panel}">Panel użytkownika</a></li>
                        <li><a th:href="@{~/user/update}">Edytuj profil</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{~/userQuestionaries/add}">Stwórz ankietę</a></li>
                        <li><a th:href="@{~/userQuestionaries}">Pokaż ankiety</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{~/user/logout}">Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div th:if="${session.User} == null" class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{~/login}">Zaloguj</a>
                </li>
                <li>
                    <a th:href="@{~/register}">Zarejestruj</a>
                </li>
                <li>
                    <a href="#">Kontakt</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Niezalogowany</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- /.navbar-end -->

    <div class="container">

        <div class="content col-lg-12 col-sm-12">
            <div th:if="${not #lists.isEmpty(wieks)}">
                <h2>Wiek</h2>
                <table class="rtable rtable--flip">
                    <thead>
                    <tr>
                        <th><div><a href="#" th:href="@{/wiek/new}" class="btn btn-success btn btn-sm" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Wiek</a></div></th>
                        <th>Opcja 1</th>
                        <th>Opcja 2</th>
                        <th>Opcja 3</th>
                        <th>Opcja 4</th>
                        <th>Opcja 5</th>
                        <th>Opcja 6</th>
                        <th>Opcja 7</th>
                        <th>Opcja 8</th>
                        <th>Opcja 9</th>
                        <th>Opcja 10</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="wiek : ${wieks}">
                        <td><div><a th:href="${'/wiek/edit/' + wiek.id}" class="btn btn-primary btn btn-sm" role="button" aria-pressed="true"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edytuj</a></div></td>
                        <td th:text="${wiek.odp1}!='' ? ${wiek.odp1}:'-'">a</td>
                        <td th:text="${wiek.odp2}!='' ? ${wiek.odp2}:'-'">b</td>
                        <td th:text="${wiek.odp3}!='' ? ${wiek.odp3}:'-'">c</td>
                        <td th:text="${wiek.odp4}!='' ? ${wiek.odp4}:'-'">d</td>
                        <td th:text="${wiek.odp5}!='' ? ${wiek.odp5}:'-'">e</td>
                        <td th:text="${wiek.odp6}!='' ? ${wiek.odp6}:'-'">f</td>
                        <td th:text="${wiek.odp7}!='' ? ${wiek.odp7}:'-'">g</td>
                        <td th:text="${wiek.odp8}!='' ? ${wiek.odp8}:'-'">h</td>
                        <td th:text="${wiek.odp9}!='' ? ${wiek.odp9}:'-'">i</td>
                        <td th:text="${wiek.odp10}!='' ? ${wiek.odp10}:'-'">j</td>

                    </tr>
                    </tbody>
                </table>

            </div>
            <div th:if="${not #lists.isEmpty(zamieszkaniee)}">
                <h2>Zamieszkanie</h2>
                <table class="rtable rtable--flip">
                    <thead>
                    <tr>
                        <th><div><a href="#" th:href="@{/zamieszkanie/new}" class="btn btn-success btn btn-sm" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Zamieszkanie</a></div></th>
                        <th>Opcja 1</th>
                        <th>Opcja 2</th>
                        <th>Opcja 3</th>
                        <th>Opcja 4</th>
                        <th>Opcja 5</th>
                        <th>Opcja 6</th>
                        <th>Opcja 7</th>
                        <th>Opcja 8</th>
                        <th>Opcja 9</th>
                        <th>Opcja 10</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="zamieszkanie : ${zamieszkaniee}">
                        <td><div><a th:href="${'/zamieszkanie/edit/' + zamieszkanie.id}" class="btn btn-primary btn btn-sm" role="button" aria-pressed="true"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edytuj</a></div></td>
                        <td th:text="${zamieszkanie.odp1}!='' ? ${zamieszkanie.odp1}:'-'">a</td>
                        <td th:text="${zamieszkanie.odp2}!='' ? ${zamieszkanie.odp2}:'-'">b</td>
                        <td th:text="${zamieszkanie.odp3}!='' ? ${zamieszkanie.odp3}:'-'">c</td>
                        <td th:text="${zamieszkanie.odp4}!='' ? ${zamieszkanie.odp4}:'-'">d</td>
                        <td th:text="${zamieszkanie.odp5}!='' ? ${zamieszkanie.odp5}:'-'">e</td>
                        <td th:text="${zamieszkanie.odp6}!='' ? ${zamieszkanie.odp6}:'-'">f</td>
                        <td th:text="${zamieszkanie.odp7}!='' ? ${zamieszkanie.odp7}:'-'">g</td>
                        <td th:text="${zamieszkanie.odp8}!='' ? ${zamieszkanie.odp8}:'-'">h</td>
                        <td th:text="${zamieszkanie.odp9}!='' ? ${zamieszkanie.odp9}:'-'">i</td>
                        <td th:text="${zamieszkanie.odp10}!='' ? ${zamieszkanie.odp10}:'-'">j</td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${not #lists.isEmpty(wyksztalceniee)}">
                <h2>Wykształcenie</h2>
                <table class="rtable rtable--flip">
                    <thead>
                    <tr>
                        <th><div><a href="#" th:href="@{/wyksztalcenie/new}" class="btn btn-success btn btn-sm" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Wyksztalcenie</a></div></th>
                        <th>Opcja 1</th>
                        <th>Opcja 2</th>
                        <th>Opcja 3</th>
                        <th>Opcja 4</th>
                        <th>Opcja 5</th>
                        <th>Opcja 6</th>
                        <th>Opcja 7</th>
                        <th>Opcja 8</th>
                        <th>Opcja 9</th>
                        <th>Opcja 10</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="wyksztalcenie : ${wyksztalceniee}">
                        <td><div><a th:href="${'/wyksztalcenie/edit/' + wyksztalcenie.id}" class="btn btn-primary btn btn-sm" role="button" aria-pressed="true"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edytuj</a></div></td>
                        <td th:text="${wyksztalcenie.odp1}!='' ? ${wyksztalcenie.odp1}:'-'">a</td>
                        <td th:text="${wyksztalcenie.odp2}!='' ? ${wyksztalcenie.odp2}:'-'">b</td>
                        <td th:text="${wyksztalcenie.odp3}!='' ? ${wyksztalcenie.odp3}:'-'">c</td>
                        <td th:text="${wyksztalcenie.odp4}!='' ? ${wyksztalcenie.odp4}:'-'">d</td>
                        <td th:text="${wyksztalcenie.odp5}!='' ? ${wyksztalcenie.odp5}:'-'">e</td>
                        <td th:text="${wyksztalcenie.odp6}!='' ? ${wyksztalcenie.odp6}:'-'">f</td>
                        <td th:text="${wyksztalcenie.odp7}!='' ? ${wyksztalcenie.odp7}:'-'">g</td>
                        <td th:text="${wyksztalcenie.odp8}!='' ? ${wyksztalcenie.odp8}:'-'">h</td>
                        <td th:text="${wyksztalcenie.odp9}!='' ? ${wyksztalcenie.odp9}:'-'">i</td>
                        <td th:text="${wyksztalcenie.odp10}!='' ? ${wyksztalcenie.odp10}:'-'">j</td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${not #lists.isEmpty(plecc)}">
                <h2>Płeć</h2>
                <table class="rtable rtable--flip">
                    <thead>
                    <tr>
                        <th><div><a href="#" th:href="@{/plec/new}" class="btn btn-success btn btn-sm" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Płeć</a></div></th>
                        <th>Opcja 1</th>
                        <th>Opcja 2</th>
                        <th>Opcja 3</th>
                        <th>Opcja 4</th>
                        <th>Opcja 5</th>
                        <th>Opcja 6</th>
                        <th>Opcja 7</th>
                        <th>Opcja 8</th>
                        <th>Opcja 9</th>
                        <th>Opcja 10</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="plec : ${plecc}">
                        <td><div><a th:href="${'/plec/edit/' + plec.id}" class="btn btn-primary btn btn-sm" role="button" aria-pressed="true"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edytuj</a></div></td>
                        <td th:text="${plec.odp1}!='' ? ${plec.odp1}:'-'">a</td>
                        <td th:text="${plec.odp2}!='' ? ${plec.odp2}:'-'">b</td>
                        <td th:text="${plec.odp3}!='' ? ${plec.odp3}:'-'">c</td>
                        <td th:text="${plec.odp4}!='' ? ${plec.odp4}:'-'">d</td>
                        <td th:text="${plec.odp5}!='' ? ${plec.odp5}:'-'">e</td>
                        <td th:text="${plec.odp6}!='' ? ${plec.odp6}:'-'">f</td>
                        <td th:text="${plec.odp7}!='' ? ${plec.odp7}:'-'">g</td>
                        <td th:text="${plec.odp8}!='' ? ${plec.odp8}:'-'">h</td>
                        <td th:text="${plec.odp9}!='' ? ${plec.odp9}:'-'">i</td>
                        <td th:text="${plec.odp10}!='' ? ${plec.odp10}:'-'">j</td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

<footer class="footer-main">
    <div class="container">
        <p>&copy; Grupa L05 - EFDI II - PRz 2017</p>
    </div>
</footer>
<script>
    (function () {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function () {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled..
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }

            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
</script>
</body>
</html>